body {
  background-color: rgb(180, 180, 180);
}
button {
  display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0.5rem;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms;
    border-radius: 10px;
}
.voice {
  text-align: center;
}
.voice-active {
  background-color: aqua;
}

.announce {
  text-align: center;
}

.announce-button {
  width: 51vw;
  height: 5vw;
}

.buttons {
  text-align:center;
}
.line {
  width: 100%;
  height: 1vh;
  background-color: black;
}

.frozen {
  background-color: azure;
}

.stopped {
  background-color: rgb(240, 184, 0);
}

.suppressed {
  background-color: blueviolet;
  color: white;
}

.stunned {
  background-color: green;
  color: gold;
}

.insub {
  background-color: grey;
}

.cursed {
  background-color: black;
  color: white;
}

.fragile {
  background-color: pink;
}

.immune, .outOfGame {
  background-color: red;
}